*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "maven pro";
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color:dodgerblue;
}

#main-content{
    display: flex;
    flex-direction: column;
    margin: 2em;
    gap: 1em;
}